version: "3"
services:
  database:
    container_name: DB
    image: "postgres"
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - db-data:/foo
    networks:
      - backend

  backend:
    container_name: Backend
    image: server/backend:v0
    build: ./backend
    ports:
      - "3000:3000"
    networks:
      - backend
    depends_on:
      - database

  frontend:
    container_name: Frontend
    image: server/frontend:v0
    build: ./frontend
    ports:
      - "5000:3000"
    networks:
      - frontend
    depends_on:
      - backend

networks:
  frontend:
  backend:

volumes:
  db-data: